.img-item {
    background-color: black;
}

.image-backgound {
    opacity: 0.5;
    height: 700px;
}

/* For Mobile  */
@media only screen and (max-width:768px) {
    .image-backgound {
        height: 300px;
    }
}

/* For Tablet  */
@media only screen and (max-width:992px) {
    .image-backgound {
        height: 500px;
    }
}